* {
    margin: 0;
    padding: 0;
}

.kayit_ol {
    width: 100%;
    height: 600px;
    background-color: darkgray;
}

.kutu {
    width: 550px;
    height: 430px;
    background-color: #00cad1;
    margin: auto;
    position: relative;
    top: 45px;
    border-radius: 5px;
}

.kayit_baslik {
width: 150px;
height: 27px;
border-style: solid;
text-align: center;
padding-top: 5px;
margin: auto;
top: 35px;
background-color: white;
border-radius: 5px;
font-size: 20px;
}

.kutu input[type="text"] {
    width: 170px;
    height: 30px;
    position: relative;
    top: 55px;
    margin-left: 15%;
    margin-right: -15%;
    border-radius: 5px;
}

.kutu input[type= "email"], input[type="number"], input[type="password"] {
width: 270px;
height: 30px;
margin-left: 25%;
margin-right: -25%;
position: relative;
top: 62px;
margin-top: 5px;
text-align: center;
}

.kutu input[type="submit"] {
    width: 90px;
    height: 30px;
    position: relative;
    top: 90px;
    margin-left: 220px;
    border-radius: 5px;
    background-color: white;
}

.facebookgiris {
    width: 200px;
    height: 26px;
    background-color: blue;
    margin: 120px auto;
    text-align: center; 
    padding-top: 4px;
    border-radius: 5px;
}

.facebookgiris a{
    color: white;
    text-decoration: none;
    End
